# Q1. pizza.csv

In [1]:
import ipywidgets as widgets
from IPython.display import display
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
import numpy as np
import os
C:\Kaustubh Vaibhav\Advance Analystics\Datasets
os.chdir(r"C:\Kaustubh Vaibhav\Advance Analystics\Datasets")
df = pd.read_csv("pizza.csv")

In [2]:
df.head()

   Promote  Sales
0       23    554
1       56   1339
2       34    815
3       25    609
4       67   1600

In [3]:
y = df[["Sales"]]
X = df[['Promote']]
regressor = LinearRegression()
regressor.fit(X,y)

print(regressor.coef_)
print(regressor.intercept_)

[[23.50640302]]
[5.48586536]

In [4]:
def predict_on_test(x1):
    test_data = np.array([[x1]])
    prediction = regressor.predict(test_data)
    y1_str = "Predicted Sales = " + str(prediction[0])
    display(y1_str);

In [5]:
min_lstat = df['Promote'].min()
max_lstat = df['Promote'].max()
print((min_lstat,max_lstat))

(6, 90)

In [6]:
w = widgets.interactive(predict_on_test,  
                        x1 = widgets.FloatSlider(value=10.0,min=min_lstat,
                                                 max=max_lstat,step=0.05,
                                                 description='Promote:',disabled=False,
                                                 continuous_update=False))
display(w)

interactive(children=(FloatSlider(value=10.0, continuous_update=False, description='Promote:', max=90.0, min=6…

# Q2. insure_auto.csv

In [7]:
os.chdir(r"C:\Kaustubh Vaibhav\Advance Analystics\Datasets")
df = pd.read_csv("Insure_auto.csv")

In [8]:
df.head()

  Branch  Home  Automobile  Operating_Cost
0    B01   400        1200          124000
1    B02   350         360           71000
2    B03   600         800          136000
3    B04   800        1800          219000
4    B05   900        1600          230000

In [9]:
y = df[["Operating_Cost"]]
X = df[['Home']]
regressor = LinearRegression()
regressor.fit(X,y)

print(regressor.coef_)
print(regressor.intercept_)

[[215.21298174]]
[23045.63894523]

In [10]:
def predict_on_test(x1):
    test_data = np.array([[x1]])
    prediction = regressor.predict(test_data)
    y1_str = "Predicted Operating_Cost = " + str(prediction[0])
    display(y1_str);

In [16]:
min_x1 = df['Home'].min()
max_x2 = df['Home'].max()
print((min_x1,max_x2))

(120, 900)

In [17]:
w = widgets.interactive(predict_on_test,  
                        x1 = widgets.FloatSlider(value=10.0,min=min_x1,
                                                 max=max_x2,step=0.05,
                                                 description='Home:',disabled=False,
                                                 continuous_update=False))
display(w)

interactive(children=(FloatSlider(value=120.0, continuous_update=False, description='Home:', max=900.0, min=12…

# Q2.1 insure_auto.csv adding one more argument.

In [18]:
os.chdir(r"C:\Kaustubh Vaibhav\Advance Analystics\Datasets")
df = pd.read_csv("Insure_auto.csv")

In [19]:
df.head()

  Branch  Home  Automobile  Operating_Cost
0    B01   400        1200          124000
1    B02   350         360           71000
2    B03   600         800          136000
3    B04   800        1800          219000
4    B05   900        1600          230000

In [20]:
y = df[["Operating_Cost"]]
X = df[['Home','Automobile']]
regressor = LinearRegression()
regressor.fit(X,y)

print(regressor.coef_)
print(regressor.intercept_)

[[167.32668857  54.10529229]]
[-10084.21313095]

In [21]:
def predict_on_test(x1,x2):
    test_data = np.array([[x1,x2]])
    prediction = regressor.predict(test_data)
    y1_str = "Predicted = " + str(prediction[0])
    display(y1_str);

In [22]:
min_x1 = df['Home'].min()
max_x1 = df['Home'].max()
print((min_x1,max_x1))
min_x2 = df['Automobile'].min()
max_x2 = df['Automobile'].max()
print((min_x2,max_x2))

(120, 900)
(360, 1800)

In [23]:
w = widgets.interactive(predict_on_test,  
                        x1 = widgets.FloatSlider(value=10.0,min=min_x1,
                                                 max=max_x1,step=0.05,
                                                 description='Home:',disabled=False,
                                                 continuous_update=False),
                        x2 = widgets.FloatSlider(value=10.0,min=min_x2,
                                                 max=max_x2,step=0.05,
                                                 description='Automobile:',disabled=False,
                                                 continuous_update=False))
display(w)

interactive(children=(FloatSlider(value=120.0, continuous_update=False, description='Home:', max=900.0, min=12…